<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Upload-SharePro</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="./static/css/main.css" th:href="@{/css/main.css}">
    <!--JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
            integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
            integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
            crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
            integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
            crossorigin="anonymous"></script>
</head>

<body class="bg">
<div class="fixed-top bg-primary clear-fix">
    <button class="headerText text-white ml-1 bg-transparent btn py-0 my-0"
            onclick="location.href='./listed.html'">SharePro
    </button>
    <input type="button" class="float-right btn btn-light mt-2 mr-3" onclick="location.href='./listed.html'"
           value="一覧">
</div>

<div class="container-fluid text-center">
    <div class="row my-3">
        <div class="col-12">
            <img id="preview" class="w-50"/>
        </div>
    </div>

    <div class="row mb-4">
        <div class="col-12 text-center">
            <button type="button" id="uploadDummyBtn" class="btn btn-info">画像選択</button>
            <input type="file" id="fileBtn" class="fileUploadBtn d-none">
        </div>
    </div>

    <div id="fileInfoField" class="d-none">
        <div class="row mb-4">
            <div class="col-12 text-center">
                <span class="text-white d-block">ファイル名</span>
                <input type="text" id="filename" class="w-25" readonly>
            </div>
        </div>

        <div class="row mb-4">
            <div class="col-12 text-center">
                <span class="text-white d-block">投稿者</span>
                <input type="text" id="contributor" class="w-25">
            </div>
        </div>

        <div class="row mb-4">
            <div class="col-12 text-center">
                <span class="text-white d-block">場所</span>
                <input type="text" id="location" class="w-50">
            </div>
        </div>

        <div class="row mb-5">
            <div class="col-12 text-center">
                <span class="text-white d-block">撮影日（もしくは投稿日）</span>
                <input type="text" id="uploadDay" class="w-25" value="">
            </div>
        </div>

        <div class="row mb-5">
            <div class="col-12 text-center">
                <span class="text-white d-block">コメント</span>
                <textarea id="comment" class="w-50"></textarea>
            </div>
        </div>

        <div class="row mb-5">
            <div class="col-12 text-center">
                <input type="submit" id="upload" class="btn btn-primary" value="この内容でアップロードする">
            </div>
        </div>

    </div>

</div>
<script type="text/javascript" src="../../static/js/upload.js"></script>
</body>

</html>